.App {
  text-align: center;
}

.post {
  border: 3px solid black;
  border-radius: 10px;
  background-color: cadetBlue;
  text-align: left;
  width: 80%;
  margin: 10px auto;
}
.postTitle {
  background-color: grey;
  border-bottom: 1px solid black;
  margin: 0;

}
